{
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin", // Node built-ins: fs, path, etc.
          "external", // External modules: react, lodash, etc.
          "internal", // Internal modules
          ["parent", "sibling", "index"], // Parent, sibling, and index imports
          "object", // Imports of objects
          "type", // Type imports
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before",
          },
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
      },
    ],
  },
}
